.side_bar
  .side_bar__user-name
    .side_bar__user-name__top-items
      .side_bar__user-name__top-items__name
        %p
          name
      .side_bar__user-name__top-items__icons
        %p
          = link_to "#", class: "contents__btn" do
            = icon('fas', 'edit')
          = link_to "#", class: "contents__btn" do
            = icon('fas', 'cog')
  .side_bar__group-list
    .side_bar__group-list__group
      .side_bar__group-list__group__name
        techcamp
      .side_bar__group-list__group__message
        まだメッセージはありません。