* {
  box-sizing: border-box;
}

.wrapper{
  display: flex;
}

.side_bar{
  
  &__user-name{
    width: 300px;
    height: 100px;
    background-color: #253141;
    padding: 0 20px;
    align-items: center;
    display: flex;

    &__top-items{
      height: 20px;
      width: 260px;
      background-color: #253141;
      display: flex;
      justify-content: space-between;

      &__name{
        color: white;
        font-size: 16px;
        font-weight: bold;
      }

      &__icons{
        display: flex;
        justify-content: space-between;

        .contents__btn{
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
  }

  &__group-list{
    padding: 0 20px;
    width: 300px;
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    color: #ffffff;

    &__group{
      box-sizing: border-box;
      padding: 20px 0 40px;

      &__name{
        font-size: 15px;
      }
  
      &__message {
        font-size: 11px;
        margin-top: 5px;
      }
    }
  }
}

.main_chat{

  &__group-info{
    width :calc(100vw - 300px);
    height: 100px;
    background-color: #ffffff;
    border-bottom: 1px solid #eeeeee;
    height: 100px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    
    &__group{

      &__name{
        color: #333333;
        font-size: 20px;
        margin-top: 35px;
      }
    
        &__member-list{
          color: #999999;
          display: flex;
          font-size: 12px;
          margin-top: 15px;
    
          &__member-name{
          font-size: 13px;
          }
        }
      }
    .edit__btn{
      display: block;
      border: 1px solid #38AEF0;
      color: #38AEF0;
      height: 40px;
      line-height: 40px;
      margin-top: 28px;
      padding: 0 20px;
      text-decoration: none;
    }
  }

  &__message-list{
    width :calc(100vw - 300px);
    height: calc(100vh - 100px - 90px);
    background-color: #fafafa;
    box-sizing: border-box;
    padding: 35px 40px 0;
    overflow: scroll;

    &__message-box{
      margin-bottom: 46px;

      &__message-info{
        display: flex;
        width:600px;
      
        &__name{
          font-size: 16px;
          font-weight: bold;
        }

        &__date{
          color: #999;
          font-size: 12px;
          padding-left: 10px;
        }
      }

      &__message{
        margin-top: 12px;

        &__contents{
          color: #434a54;
          font-size: 14px;
        }
      }
    }
  }
  
  &__message-form{
    padding: 20px 40px;
    height: 90px;
    background-color: #d2d2d2;

    form{
      display:flex;
      justify-content: space-between;
    
    .input-box{
      display: flex;
      width: 100%;
      position: relative;

      &__text{
        height: 50px;
        width: 100%;
        color: #434a54;
        border-style: none;
        padding: 0 45px 0 15px;
      }
      &__image{
        cursor: pointer;
        font-size: 20px;
        position: absolute;
        top: 10px;
        right: 10px;

        &__file{
          display: none;
        }
      }
    }

    .submit-btn{
      height: 50px;
      width: 100px;
      padding: 0 30px;
      margin-left: 15px;
      background-color: #38AEF0;
      color: white;
      cursor: pointer;
    }
  }
}
}
